.svc-creator * {
  font-weight: normal !important;
}

.svc-creator {
  border: 1px solid #5555;
  border-radius: var(--sjs2-radius-x200);
  padding: calc(var(--sjs2-radius-x200) - 0.7em);
}

.svd-simulator-content .sd-root-modern {
  background-color: var(--sjs2-palette-gray-800) !important;
}

.svd-simulator-content .sd-question {
  background-color: var(--sjs2-palette-gray-900) !important;
}

.svd-simulator-content .sd-input {
  background-color: var(--sjs2-palette-gray-800) !important;
}

.svc-toolbox__panel {
  border-left: none;
}

.svc-creator__non-commercial-text {
  display: none;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  z-index: 9999;
  padding: 1rem;
  min-width: 500px;
  border-radius: 20px;
  background-color: #161519;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  min-width: 600px;
}

@media (max-width: 768px) {
  .modal-container {
    width: 90%;
  }
}

.search-input {
  background-color: #27262b;
  border: 1px solid #1a181e;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  outline: none;
  transition: all 0.2s;
  direction: rtl;
}

.search-input:focus {
  box-shadow: 0 0 0 2px rgba(45, 212, 191, 0.3);
}

.loading-container {
  width: 100%;
  height: 4px;
  background-color: #27262b;
  border-radius: 9999px;
  margin-top: 1rem;
  overflow: hidden;
}

.progress-line {
  animation: loading-animation 1.5s infinite ease-in-out;
  background-color: #2dd4bf;
  height: 100%;
  height: 30%;
}

@keyframes loading-animation {
  0% {
    transform: translateX(350%);
  }
  100% {
    transform: translateX(-100%);
  }
}
